<script>
  [%_include=tholos/tholos_callback.php;_function_name=_eqs;param=event_onshow;value=;true=</>;false=$("#$prop_id").on( "onShow",function(){$event_onshow});%]
  [%_include=tholos/tholos_callback.php;_function_name=_eqs;param=event_onhide;value=;true=</>;false=$("#$prop_id").on( "onHide",function(){$event_onhide});%]
</script>