cancel: {
                label: "[:CONFIRMDIALOG.CANCEL,Mégsem:]",
                className: "btn-warning",
                callback: function() {
<%FUNC%
_include=tholos/tholos_callback.php
_function_name=_eqs
param=event_onclickcancel
value=
true=Tholos.eventHandler('$prop_id','$prop_id','TConfirmDialog','triggerConfirmFalse',null);
false=$event_onclickcancel
%FUNC%>
                }
            },