<div class="dropdown $filtervisible">
  <button type="button" class="btn btn-sm dropdown-toggle btn-info" data-bs-toggle="dropdown">
    <li class="fa-regular fa-filters"></li> $prop_LabelFilterButton
  </button>
  <ul class="dropdown-menu">
    $items
  </ul>
</div>