<div class="btn-group $filtervisible">
        <a class="btn btn-xs dropdown-toggle btn-info" data-toggle="dropdown">
          $prop_LabelFilterButton <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
          $items
        </ul>
      </div>