<li><a class="dropdown-item" href="javascript:TGrid_setFilter('$prop_parent_id','$prop_name',0);">$prop_label</a></li>
<script type="text/javascript" nonce="$Tholos_nonce">if (TGrid_registerFilters) window['TGrid_filters_$prop_parent_id'][window['TGrid_filters_$prop_parent_id'].length]={id:'$prop_name',name:'$prop_Label',datatype:'[%_include=tholos/tholos_callback.php;_function_name=_eqs;param=prop_listsource;value=;true=$prop_DataType;false=list%]',canbenull:$prop_CanBeNull~='true';,listsource:'$prop_ListSource',listsourceroute:'$prop_listsource_route',listfilter:'$prop_ListFilter',fieldid:'$prop_fieldid',fieldtext:'$prop_fieldtext'};</script>