<script type="text/javascript" nonce="$Tholos_nonce">
  $(document).ready(function() {
    $("#$prop_id").select2({
      [%_include=tholos/tholos_callback.php;_function_name=_eqs;param=prop_searchable;value=false;true=minimumResultsForSearch: Infinity,;false=</>%]
  });

##    $templateabs_tholos__TLOV_masterlov
  });
</script>