<div class="checkbox"><label><input id="$prop_id-menu" name="$prop_name" type="checkbox" [%_include=tholos/tholos_callback.php;_function_name=_eqs;param=prop_visible;value=true;true=checked="checked";false=%] onchange="Tholos.eventHandler(&quot;$content&quot;,&quot;$prop_id&quot;,&quot;TMapSource&quot;,&quot;setVisible&quot;,&quot;$prop_route&quot;,{&quot;visible&quot;:this.checked})"/><span class="text">$prop_label</span></label></div>