## BS5 <!--  Container $prop_name -->
$templateabs_tholos__TComponent_properties
<$prop_containertype id="$prop_id" $templateabs_tholos__TComponent_basedata [%_function_name=Tholos\TholosCallback::_eqs;param=prop_class;value=;true=</>;false=class="$prop_class"%][%_function_name=Tholos\TholosCallback::_eqs;param=prop_donotaddclosetag;value=true;true=/>;false=>$content</$prop_containertype>%]
$templateabs_tholos__TContainer_baseevents
## <!-- /Container $prop_name -->