## BS 5
## <span id="$prop_id-helpblock" class="form-text" [%_function_name=Tholos\TholosCallback::_eqs;param=prop_helptext;value=;true=style="display:none";false=</>%]>
##    $prop_helptext
## </span>