[%_function_name=Tholos\TholosCallback::_eqs;param=prop_gridhtmltype;value=table;true=<tr>;false=%]$content[%_function_name=Tholos\TholosCallback::_eqs;param=prop_gridhtmltype;value=table;true=</tr>;false=%]