<script type="text/javascript" nonce="$Tholos_nonce">
/*
  console.info('CHART.INIT');
  var chartSeries_$prop_id = {
            data: { datasets: $chartDatasetsOptions},
            options: $prop_chartOptions
        };
        */
</script>